*.[oa]
*.l[oa]
*.dll
*.exe
*.exe.*
*.obj
*.pyc
*.so
*~
*.idb
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.sln.cache
*.log
*.trs
Release
Debug
Win32-Output
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autodefs.h
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.h
compile
depcomp
test-driver
stamp-h1
install-sh
missing
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

aescrypt.spec
src/*.test
src/aescrypt
src/aescrypt_keygen
gui/AESCrypt.desktop
